@import '../../App.scss';

.menu{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    #home{
        position: absolute;
        top: 3%;
        right: 3%;
        color: $accent;
        z-index: 11;

        &:hover{
            color: $sub;
        }
    }

    #right, #left{
        z-index: 9;

        .link{
            // position: absolute;
            text-decoration: none;
            color: $text-color;
            font-size: $large-text;
    
            &.active{
                color: $accent;
            }
        }
    }


    .carousel{
        position: relative;
        width: 100%;
        height: 100%;

        .right, .left{
            position: absolute;
            z-index: 99;
            border: none;
            outline: none;
            background: none;
            padding: 2em 0.4em;
            border-radius: $small-radius;
            color: $text-color;
            transition: all .2s ease-out;
            cursor: pointer;

            &:hover{
                background: rgba($text-color, 0.2);
            }
        }
    }
}


@media screen and (min-width: 500px) {
    .menu{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        #left, #right{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: calc($wk-height * 0.13);
            
            .link{
                font-size: calc($text * 1.3);
            }
        }

        #left{
            top: 0;
            left: calc($wk-width * 0.02);
        }
        #right{
            right: calc($wk-width * 0.02);
            bottom: 0;
            text-align: right;
        }

        .carousel{
            .right, .left{
                top: calc($height * 0.45);
                z-index: 99;
            }

            .right{
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .menu{
        position: absolute;
        width: $width;
        height: $height;
        top: 0;
        

        #right, #left{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            margin-top: 4em;

            .link{
                font-size: calc($text * 1.3);
            }

            .four{
                margin-top: calc($wk-height * 0.14);
            }
        }

        .carousel{
            
            .right, .left{
                top: calc($wk-height * -0.05);
            }

            .right{
                right: 2%;
            }
            .left{
                left: 2%;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .menu{
        position: absolute;
        width: $width;
        height: $height;
        top: 0;
        

        #right, #left{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            margin-top: 2.5em;

            .link{
                font-size: calc($text * 1.3);
            }

            .four{
                margin-top: calc($wk-height * 0.12);
            }
        }
    }
}