@import '../../App.scss';

.hero{
    position: relative;
    height: $height;
    width: $width;
    background: radial-gradient(
        circle,
        rgba($black, 0.9),
        rgba($black, 1)),
    url(../../assets/japmount.svg), no-repeat center;
    background-size: cover;
    font-family: $des-font;
    overflow: hidden;

    img{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale(1.2);
        filter: grayscale(100%);
    }

    .overlay{
        position: absolute;
        height: $height;
        width: $width;
        background: $black;
        opacity: 0.6;

        h1{
            text-align: center;
            color: rgba($text-color, 1);
            font-weight: 300;
        }
    }

    aside{
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        gap: 1em;

        a{
            color: rgba($text-color, 0.6);

            &:hover{
                color: $accent;
            }
        }

        span{
            height: calc($wk-height * 0.1);
            padding: 0.02em;
            background: $text-color;
        }
    }
}


@media screen and (max-width: 600px) {
    .hero{
        aside{
            padding: .5em;
        }
    }
}