@import '../../App.scss';

.tools{
    position: fixed;
    height: calc($height * 1); 
    width: calc($width * 1);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($black, 0.4);
    color: $text-color;
    z-index: 10;

    .box{
        position: relative;
        height: calc($wk-height * 0.3);
        width: calc($wk-width * 0.5);
        background: rgba($black, 1);
        border: 0.1em solid $main-color;
        border-radius: $small-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1/2;
        align-items: center;
        gap: 2em;
        padding: 1em;
        overflow-x: 0;

        box-shadow: 0.02em 0.02em .3em rgba($accent, 0.1),
                    0.02em 0.02em .5em rgba($accent, 0.1),
                    0.02em 0.02em 1em rgba($accent, 0.1),
                    0.02em 0.02em 5em rgba($accent, 0.1);
        
        h2{
            font-family: $des-font;
            font-size: $large-text;
            position: absolute;
            top: 0;
        }

        button{
            position: absolute;
            top: 1%;
            left: 2%;
            color: $text-color;
            padding: .5em;
            border-radius: $small-radius;
            background: rgba($text-color, 0.1);
            outline: none;
            border: none;
            cursor: pointer;
        }

        .tool{
            position: relative;
            top: 8%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: .2em;
            border-radius: $small-radius;

            img{
                height: calc($wk-height * 0.05);
                width: calc($wk-width * 0.05);
                object-fit: contain;
                aspect-ratio: 1/1;

                &:hover + span{
                    display: block;
                }
            }

            &:hover{
                background: rgba($accent, 0.4);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .tools{
        width: 100%;

        .box{
            position: relative;
            overflow-x: hidden;
        }
    }
}
